.contact-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.contact-contents .contact-left {
    margin-right: 50px;

    h1 {
        font-size: 40px;
        color: var(--primary);
        margin-bottom: 20px;
    }

    h3 {
        font-size: 25px;
        color: var(--secondary);
        margin-bottom: 30px;
    }

    .contact-left__element {
        display: flex;
        padding: 20px 0px;

        a {
            text-decoration: none;
        }

        a p  {
            color: #FFD166;
            font-size: 20px;
            margin-left: 30px;
        }

        .fa-solid {
            color: #06D6A0;
            font-size: 35px;
        }
        
    }

}