.footer__line {
    width: 80%;
    height: 1px;
    background-color: rgb(150, 148, 148);
    margin: 150px auto 30px auto;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

footer ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding-right: 2rem;

}

footer ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

footer ul .footer1 ul li img {

    width: 60px;

}


footer ul .footer1 ul li h3 {

    color: rgb(150, 148, 148);

}

footer ul .footer2 ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin: 20px 0;
        max-width: 300px;
    }

footer ul .footer3 {

        margin: 20px 0;

        p {
            color: rgb(150, 148, 148);
            font-size: 12px;
        }


}