* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

:root {
    --dur: 1s;
}

html {
    height: 100%;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

