*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


:root {
    --dur: 1s;
}

html {
    height: 100%;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: black;
}

