.main_image {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/uzay-dunya-gunes-batimi-rotated.jpg);
    background-color: #cccccc;
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;


    .main_header {
        text-align: center;
        position: absolute;
        top: 350px;
        left: 50%;
        transform: translate(-50%, -50%);
    
        h1 {
            font-family: 'Patrick Hand', cursive , sans-serif;
            font-weight: bold;
            font-size: 75px;
            margin-bottom: 30px;
            background: -webkit-linear-gradient(90deg, rgba(3,128,250,1) 0%, rgba(233,234,240,1) 33%, rgba(55,81,107,1) 72%, rgba(175,199,205,1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            
        }
    
        h3 {
            font-weight: bold;
            font-size: 35px;
            margin-bottom: 30px;
            background: -webkit-linear-gradient(90deg, rgba(65,99,133,1) 0%, rgba(233,234,240,1) 33%, rgba(65,94,122,1) 72%, rgba(138,167,175,1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

@media (max-width: 920px){

    .main_image .main_header {
        top: 300px;
    }

    .main_image .main_header h1 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .main_image .main_header h3 {
        font-size: 25px;
        margin-bottom: 10px;
    }
    
}





@media (max-width: 660px){

    .main_image .main_header {
        top: 300px;
    }

    .main_image .main_header h1 {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .main_image .main_header h3 {
        font-size: 15px;
        margin-bottom: 10px;
    }
    
}


.main_image .rockets {

    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: -300px;
    justify-content: center;
    width: 100%;

    
}




// rockets animation start



.main_image .rockets .rocket1 {
    transform: translateY(2000px);
    animation: main-title 4s backwards 1.5s;
  }
  @keyframes main-title {
    from {
        transform: translateY(0);
      }
    to {
      transform: translateY(-2000px);
    }
  }

  .main_image .rockets .rocket2 {
    transform: translateY(2000px);
    animation: main-title 4s backwards 1s;
  }
  @keyframes main-title {
    from {
        transform: translateY(0);
      }
    to {
      transform: translateY(-2000px);
    }
  }

  .main_image .rockets .rocket3 {
    transform: translateY(2000px);
    animation: main-title 4s backwards 1.5s;
  }
  @keyframes main-title {
    from {
        transform: translateY(0);
      }
    to {
      transform: translateY(-2000px);
    }
  }
  
  
  
  
  
  
  
  
  
  
  .main_image .main_header h1 {
    transform: translateY(2000px);
    animation: main-slogan 2s forwards 1.5s;
  }
  @keyframes main-slogan {
    to {
      transform: translateY(0);
    }
  }


  .main_image .main_header h3 {
    transform: translateY(2000px);
    animation: main-slogan 2s forwards 1.5s;
  }
  @keyframes main-slogan {
    to {
      transform: translateY(0);
    }
  }