.signin__container {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin__form {
    border: solid 3px;
    border-radius: 30px;
    padding: 60px;
}

.signin__form__header h1 {
    color: var(--red);
    font-size: 40px;
    text-align: center;
}

.signin__form__email label {
    color: var(--secondary);
    margin-bottom: 10px;
}

.signin__form__password label {
    color: var(--secondary);
    margin-bottom: 10px;
}

.signin__form__email, .signin__form__password {

    input {
        width: 450px;
        height: 40px;
        padding: 10px;
        border: none;
    }
    
}

.signin__form__button {

    button {
        width: 450px;
        height: 50px;
        background-color: var(--red);
        border: none;
        color: white;
        font-size: 20px;
        border-radius: 20px;
        margin-top: 25px;
    }
}

.signin__form__button button:hover {

    background-color: rgb(146, 5, 5);
}

.signin__form__link a {
    text-decoration: none;
    font-size: 20px;
}